<!-- Language-specific CTA -->
{{ if eq .Lang "en" }}
  {{ if .Site.Params.cta.en.enable }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="title">{{ .Site.Params.cta.en.title | markdownify }}</h2>
          <a href="{{ .Site.Params.cta.en.link | relLangURL }}" class="btn btn-primary">{{ .Site.Params.cta.en.label }}</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ else if eq .Lang "fr" }}
  {{ if .Site.Params.cta.fr.enable }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="title">{{ .Site.Params.cta.fr.title | markdownify }}</h2>
          <a href="{{ .Site.Params.cta.fr.link | relLangURL }}" class="btn btn-primary">{{ .Site.Params.cta.fr.label }}</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
<!-- cta -->

<!-- footer -->
<footer class="position-relative">
  <img src="{{ .Site.Params.footer.bgImage | absURL }}" alt="" class="img-fluid bg-image-bottom">
  <div class="container">
    <div class="row mb-100">
      <div class="col-lg-4 pr-lg-5 col-md-6 mb-5 mb-lg-0">
        <a class="mb-4 d-block" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
        <p>{{ i18n "footer.author"  | markdownify }}</p>
      </div>
      <div class="col-lg-2 col-md-3 col-6 mb-5 mb-lg-0">
        <h6 class="mb-4">{{ i18n "footer.quickLinks"}}</h6>
        <ul class="list-unstyled footer-menu">
          {{ $currentPage := . }}
          {{ $menu := .Site.Menus.main}}
          {{range $index, $element := $menu}}
          <li><a class="nav-link scroll-to" href="{{ .URL | relLangURL }}"> {{ i18n .Identifier | default .Name}} </a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-6 mb-5 mb-lg-0">
        <h6 class="mb-4">{{ i18n "footer.socialContacts"}}</h6>
        <ul class="list-unstyled footer-menu">
          {{ range .Site.Params.social }}
          <li><a href="{{.link | safeURL}}" target="_blank">{{.name}}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4">
        <h6 class="mb-4">{{ i18n "footer.subscribeEmail"}}</h6>
        <div class="input-group mb-5">
          <input type="text" class="subscription-form flex-fill" placeholder={{ i18n "footer.email"}}>
          <div class="input-group-append">
            <button class="input-group-text btn btn-primary rounded-0"><img class="img-fluid" src="{{`images/arrow.svg` | absURL }}" alt=""></button>
          </div>
        </div>
        <ul class="list-inline">
          {{ range .Site.Params.footer.card }}
          <li class="list-inline-item mb-3"><img src="{{ .image | absURL}}" class="img-fluid" alt=""></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="position-relative zindex-1 text-center pb-5">{{ .Site.Params.copyright | markdownify }}</div>
  </div>
</footer>
<!-- /footer -->



{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
  ga('send', 'pageview');
</script>