{{ $myData := index .Site.Data .Lang }}
{{ with $myData.pricing.pricing }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="title">{{ i18n "pricingTable.featuresTable"}}</h3>
      </div>
      {{ range .pricingTable }}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card text-center pricing-table">
          <img src="{{`images/backgrounds/pricing-table-bg.png` | absURL }}" class="img-fluid pricing-table-bg"
            alt="" />
          <div class="card-body">
            <h4 class="mb-4 text-center">{{ .name | markdownify }}</h4>
            <p class="text-dark mb-3">
              <span class="h1">{{ .price }}</span>{{ .type }}
            </p>
            <p class="text-muted mb-4">{{ .fee }}</p>
            <div class="text-left">
              <p class="mb-4" style="font-size: 16px; line-height: 1.6; color: #333;">{{ .content | markdownify }}</p>
            </div>
            {{ with .button }}
            <a href="{{ .link | safeURL }}" class="btn btn-outline-tertiary">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ $pricingTable := .pricingTable }}
{{ $features := .features }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="title">{{ i18n "pricingTable.plansTable"}}</h3>
      </div>
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-lg">
            <thead>
              <tr class="text-center bg-tertiary text-white">
                <th class="bg-tertiary text-white">{{ i18n "pricingTable.feature"}}</th>
                {{ range $pricingTable }}
                <th>{{ .name }}</th>
                {{ end }}
              </tr>
            </thead>
            <tbody>
              {{ range $features }}
              <tr>
                <td class="font-weight-bold bg-light">{{ .name }}</td>
                {{ $currentFeature := .key }}
                {{ range $pricingTable }}
                <td class="text-center">
                  {{ if index . $currentFeature }}<span class="text-success">✔</span>{{ else }}<span class="text-danger">✘</span>{{ end }}
                </td>
                {{ end }}
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}